//该文件用来放局部引用的自定义通用scss文件，包括通用scss函数通用scss混合，需要用的文件自行引入
// 不换行,...形式处理多余文字，默认单行不行 @include no-wrap;
@mixin no-wrap ($row:1) {
  @if $row == 1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
    overflow: hidden;
  }
}
// 扩展点击区域
@mixin extend-click{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}
//过渡居中 需父级定位 horizontal and vertical
@mixin be-center($type:''){
  position: absolute;
  @if $type == 'horizontal' {
    top:50%;
    transform: translateY(-50%);
  }@else if $type == 'vertical'{
    left: 50%;
    transform: translateX(-50%);
  }@else {
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
  }
}
//移动端1像素处理
@mixin pixel ($type){
  @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    &::after{
      transform:$type(0.7);    //1.5 * 0.7接近1
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
    &::after{
      transform:$type(0.5);    //2 * 0.5 = 1
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2.5),(min-device-pixel-ratio: 2.5) {
    &::after{
      transform:$type(0.4);    //2.5 * 0.4 = 1
    }
  }

  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    &::after{
      transform:$type(0.333);    //3 * 0.333 接近 1
    }
  }

  @media (-webkit-min-device-pixel-ratio: 3.5),(min-device-pixel-ratio: 3.5) {
    &::after{
      transform:$type(0.2857);    //3.5 * 0.2857 接近 1
    }
  }
}
@mixin border-1px($type,$color:#ccc) {

  position:relative;

  &::after{
    position: absolute;
    display: block;
    content: '';
    @if $type == 'top' {
      @include pixel(scaleY);
      border-top: 1px solid $color;
      width: 100%;
      left: 0;
      top: 0;
    }@else if $type == 'bottom'{
      @include pixel(scaleY);
      border-top: 1px solid $color;
      width: 100%;
      left: 0;
      bottom: 0;
    }@else if $type == 'left'{
      @include pixel(scaleX);
      border-left: 1px solid $color;
      height: 100%;
      top:0;
      left:0;
    }@else if $type == 'right'{
      @include pixel(scaleX);
      border-left: 1px solid $color;
      height: 100%;
      top:0;
      right:0;
    }
  }
}

// 元素居中
@mixin vc-hc($height,$align-v:center){
  display: flex;
  justify-content: $align-v;
  align-items: center;
  width: auto;
  height: $height;
}
