*{margin:0;padding:0}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}ol,ul{list-style:none}
img,fieldset{border:0;vertical-align:middle}
.clearfix:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}.clearfix{*zoom:1}
.clear{font-size:0;line-height:0;height:0;overflow:hidden;clear:both;visibility:hidden}
.fl,.mark{float:left}.fr,.subMark{float:right}
.spanclass,.contentdiv{display:none}
a{color:#000;text-decoration:none}a:hover{color:#884400;text-decoration:underline}
.mb10{margin-bottom:10px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.cp{cursor:pointer;}
/* scrolltab */
.scrolltab{position:relative;width:990px;margin:30px auto; max-width:100%; max-height:600px}
.scrolltab .ulBigPic{max-height:444px;overflow:hidden;width:100%}
.scrolltab .ulBigPic li{width:868px;max-height:500px;display:none;width:100%;margin:0;padding:0}
.scrolltab .ulBigPic .liSelected{display:block;}
.scrolltab .ulBigPic img{border:1px solid #dedede;padding:2px;background-color:#fff;width:100%}
.scrolltab .ulBigPic .sPic{width:100%;float:left;overflow:hidden;}
.scrolltab .ulBigPic .sPic img{width:100%;max-width:100%; max-height:100%}
.scrolltab .sSideBox span{width:290px;display:block;overflow:hidden;}
.scrolltab .ulBigPic .sTitle{height:32px;line-height:32px;font-size:14px;font-weight:700;color:#333;}
.scrolltab .ulBigPic .sIntro{line-height:24px;color:#666;word-wrap:break-word;word-break:break-all;}
.scrolltab .ulBigPic .sMore{height:24px;line-height:24px;}
.scrolltab .ulBigPic .sMore a{color:#841;}
.scrolltab .ulBigPic .sTitle a{color:#333;}
.scrolltab .ulBigPic .sTitle a:hover{color:#840;}
.scrolltab .sLeftBtnABan,.scrolltab .sLeftBtnA,.scrolltab .sLeftBtnASel,.scrolltab .sRightBtnA,.scrolltab .sRightBtnASel,.scrolltab .sRightBtnABan{width:38px;height:86px;display:block;position:absolute;top:50%; margin-top:-100px;background:url(../images/bgArt.png) no-repeat; z-index:9999}
.scrolltab .sLeftBtnABan{ display:none}
.scrolltab .sRightBtnASel{background:url(../images/right.png) no-repeat;}
.scrolltab .sLeftBtnA,.scrolltab .sLeftBtnASel,.scrolltab .sRightBtnA,.scrolltab .sRightBtnASel{cursor:pointer;}
.scrolltab .sLeftBtnA,.scrolltab .sLeftBtnASel,.scrolltab .sLeftBtnABan{left:10px;}
.scrolltab .sLeftBtnA{background:url(../images/left.png) no-repeat; filter: alpha(opacity=80); opacity:0.8; }
.scrolltab .sLeftBtnASel{background:url(../images/left.png) no-repeat;}
.scrolltab .sRightBtnA,.scrolltab .sRightBtnASel,.scrolltab .sRightBtnABan{right:10px;}
.scrolltab .sRightBtnA{background:url(../images/right.png) no-repeat;filter: alpha(opacity=80); opacity:0.8;}
.scrolltab .sRightBtnABan{ display:none}
.scrolltab .dSmallPicBox{width:988px;height:130px;position:relative;}
.scrolltab .dSmallPic{width:882px;height:144px;position:absolute;left:53px;top:0px;overflow:hidden;}
.scrolltab .dSmallPic ul{position:absolute;}
.scrolltab .dSmallPic li{width:147px;height:110px;border:1px solid #fff;padding:3px 2px 0;float:left;display:inline;cursor:pointer;overflow:hidden; margin:0}
.scrolltab .dSmallPic .sPic{width:143px;height:106px;display:block;}
.scrolltab .dSmallPic .sPic img{border:1px solid #ddd;padding:2px;}
.scrolltab .dSmallPic .liSelected img{border-color:blue;}
.scrolltab .sLeftBtnB,.scrolltab .sLeftBtnBSel,.scrolltab .sLeftBtnBBan,.scrolltab .sRightBtnB,.scrolltab .sRightBtnBSel,.scrolltab .sRightBtnBBan{width:18px;height:37px;display:block;position:absolute;top:25px;background:url(../images/bgArt.png) no-repeat;}
.scrolltab .sLeftBtnB,.scrolltab .sLeftBtnBSel,.scrolltab .sRightBtnB,.scrolltab .sRightBtnBSel{cursor:pointer;}
.scrolltab .sLeftBtnB,.scrolltab .sLeftBtnBSel,.scrolltab .sLeftBtnBBan{left:20px;}
.scrolltab .sLeftBtnB{background-position:0 -87px;}
.scrolltab .sLeftBtnBSel{background-position:-36px -87px;}
.scrolltab .sLeftBtnBBan{background-position:-73px -87px;}
.scrolltab .sRightBtnB,.scrolltab .sRightBtnBSel,.scrolltab .sRightBtnBBan{right:20px;}
.scrolltab .sRightBtnB{background-position:-16px -87px;}
.scrolltab .sRightBtnBSel{background-position:-52px -87px;}
.scrolltab .sRightBtnBBan{background-position:-88px -87px;}