@mixin center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;
  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} -($height / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
}

//过渡居中 需父级定位 horizontal and vertical
@mixin translate-center($type:''){
  position: absolute;
  @if $type == 'horizontal' {
    top:50%;
    transform: translateY(-50%);
  }@else if $type == 'vertical'{
    left: 50%;
    transform: translateX(-50%);
  }@else {
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
  }
}

//移动端1像素处理
@mixin pixel ($type){
  @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    &::after{
      transform:$type(0.7);    //1.5 * 0.7接近1
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
    &::after{
      transform:$type(0.5);    //2 * 0.5 = 1
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2.5),(min-device-pixel-ratio: 2.5) {
    &::after{
      transform:$type(0.4);    //2.5 * 0.4 = 1
    }
  }
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    &::after{
      transform:$type(0.333);    //3 * 0.333 接近 1
    }
  }
  @media (-webkit-min-device-pixel-ratio: 3.5),(min-device-pixel-ratio: 3.5) {
    &::after{
      transform:$type(0.2857);    //3.5 * 0.2857 接近 1
    }
  }
}
@mixin border-1px($type,$color:#ccc) {
  position:relative;
  &::after{
    position: absolute;
    display: block;
    content: '';
    @if $type == 'top' {
      @include pixel(scaleY);
      border-top: 1px solid $color;
      width: 100%;
      left: 0;
      top: 0;
    }@else if $type == 'bottom'{
      @include pixel(scaleY);
      border-top: 1px solid $color;
      width: 100%;
      left: 0;
      bottom: 0;
    }@else if $type == 'left'{
      @include pixel(scaleX);
      border-left: 1px solid $color;
      height: 100%;
      top:0;
      left:0;
    }@else if $type == 'right'{
      @include pixel(scaleX);
      border-left: 1px solid $color;
      height: 100%;
      top:0;
      right:0;
    }
  }
}