<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
    <link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../demo.css">
    <script type="text/javascript" src="../../jquery.min.js"></script>
    <script type="text/javascript" src="../../jquery.easyui.min.js"></script>
</head>
<body>
<div class="easyui-layout" style="width:700px;height:350px;background: #f0ad4e;">
    <!--<div data-options="region:'north',title:'North Title',split:true" style="height:100px;"></div>-->
    <div region="north" style="height:100px;"></div>
    <div region="center" style="height:200px;background: #0ED1C1"></div>
    <div region="south" style="height:50px;background: #0bb20c"></div>
</div>
</body>
</html>