#indexLizi {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.index {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #141a48;
    background-image: url("../img/bg-new.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.index .ivu-row-flex{
    height: 100%;
}


a {
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease;
}

.index .list {
    margin: 40px 0 200px;
}


h1 img{
    display: block;
    margin: 0 auto;
}
h1 .img-logo{
    width: 90px;
    height: 90px;
}
h1 .img-name{
    width: 90px;
    height: 40px;
    position: relative;
    left: 0;
}
h2{
    color: #fff;
    font-weight: normal;
    margin-top: 50px;
    font-size: 16px;
}